%h1 Lesson Comments
%h3= @lesson.title
%h4= @lesson_type

%hr

- @comments.each do |comment|
  = render partial: 'comment', locals: { comment: comment }

%hr

- if @lesson.is_public
  = simple_form_for [@lesson, @new_comment] do |f|
    = f.input :message, label: 'Add a comment to this lesson plan'
    / = f.input :message
    = f.hidden_field :lesson_id, value: @lesson.id
    = f.hidden_field :user_id,  value: current_user.id
    = f.submit
